<h1><%= @user.email %></h1>
<h3>Last Sign In: <%= @user.last_sign_in_at.strftime("%m/%d/%Y") %></h3>
<h4><%= @user.comments.count %> total comments</h4>
<h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>